<footer class="lw-foot">
    <div class="footer-site-info">
        <p>&copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a></p>
        <p>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
    </div>
</footer>
