{{!< default}}

<div class="lw-page">
    <div class="lw-container">
        <div class="post-feed">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
        </div>
    </div>
</div>
