/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base */
@import "fonts.css";
@import "vars.css";
@import "components/global.css";

/* Ghost components */
@import "components/header.css";
@import "components/footer.css";
@import "components/profile.css";
@import "components/content.css";
@import "components/members.css";

/* Global components */
@import "components/forms.css";
@import "components/buttons.css";


/* Main
/* ---------------------------------------------------------- */

html,
.lw-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-background);
}

body {
    background: var(--color-background);
}

.lw-main {
    display: flex;
    flex-direction: column;
}

.lw-main-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.lw-main-container {
    flex: var(--content-main-flex);
    max-width: var(--content-width);
}

.lw-main-left, .lw-main-right {
    display: flex;
    justify-content: flex-end;
    max-width: none;
}

.lw-main-left {
    flex: var(--content-left-flex);
}

.lw-main-right {
    flex: var(--content-right-flex);
}

@media(max-width: 768px) {
    .lw-main-left, .lw-main-right {
        display: none;
    }

    .lw-main-wrapper {
        justify-content: center;
    }
}

/* Global */
/* ---------------------------------------------------------- */

.text-header {
    font-family: var(--font-header);
}

.separator {
    height: 1pt;
    background-color: var(--color-separator);
    width: 100%;
}

pre {
    max-width: 100vw;
    overflow-x: auto;
}