/* Post feed */
/* ---------------------------------------------------------- */

.post-feed {
    --font-size-title: 2.5rem;
    --font-size-excerpt: 1.5rem;

    --content-padding: 2rem;
}

.post-feed-section-header {
    font-family: var(--font-header);
    font-size: 2rem;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}

.post-feed-section-header-spaced {
    margin-top: 4rem;
}

.post-feed-section-separator {
    width: calc(50% + 2rem);
    min-width: 16rem;
    margin-bottom: 2rem;
}

.post-card {
    margin-bottom: 4rem;
}

.post-card-header {
    position: relative;
}

.post-card-title-wrapper {
    padding: 0;
    background-color: var(--color-background-transparent);
}

.post-card-image-title-wrapper {
    padding: var(--content-padding);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-card-title {
    color: var(--color-text-primary);
    font-size: var(--font-size-title);
}

.post-card-excerpt {
    padding: 2rem 0 1rem 0;
    color: var(--color-text-secondary);
    font-size: var(--font-size-excerpt);
}

.post-card-details {
    color: var(--color-text-subdued);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.post-card-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-detail svg {
    fill: var(--color-text-subdued);
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.post-card-tags a, .post-card-tags a:hover {
    color: var(--color-text-subdued);
    text-decoration: none;
}

@media(max-width: 768px) {
    .post-feed {
        --font-size-title: 1.75rem;
        --font-size-excerpt: 1.25rem;
        --font-size-details: 1rem;

        --content-padding: 1rem;
    }
    .post-feed-section-header {
        margin-left: var(--content-padding);
    }
    .post-card-title-wrapper {
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);
    }
    .post-card-image-title-wrapper {
        padding: var(--content-padding);
    }
    .post-card-title {
        font-size: var(--font-size-title);
    }
    .post-card-excerpt {
        padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
        font-size: var(--font-size-excerpt);
    }
    .post-card-details {
        padding: 0 var(--content-padding);
        font-size: var(--font-size-details);
    }
}

/* Post Header
/* ---------------------------------------------------------- */

.post {
    --icon-size: 16px;
    --icon-size-half: 8px;

    --content-padding: 2rem;

    font-size: 1.75rem;
}

.lw-post-header {
    color: var(--color-text-primary);
}

.lw-post-header svg {
    fill: var(--color-text-primary);
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--icon-size-half);
}

.lw-post-header a {
    color: var(--color-text-primary);
    text-decoration: none;
}

.lw-post-header a:hover {
    color: var(--color-text-primary);
}

.lw-post-details {
    display: flex;
    justify-content: space-between;
    margin-top: var(--content-padding);
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.lw-post-details .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lw-post-header img {
    width: 100%;
}

.lw-post-tags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--color-text-secondary);
    fill: var(--color-text-secondary);
    margin-bottom: var(--content-padding);
    font-size: 1.5rem;
}

.lw-post-tags-inner {
    display: flex;
    flex-wrap: wrap;
    word-wrap: normal;
}

.lw-post-tags svg {
    margin-top: calc(var(--icon-size-half) / 2);
}

.lw-post-tags a {
    color: inherit;
}

.lw-post-tags a:hover {
    color: var(--color-text-primary);
}

@media(max-width: 768px) {
    .lw-post-title, .lw-post-details, .lw-post-tags {
        margin-left: var(--content-padding);
        margin-right: var(--content-padding);
    }
}

/* Post Content
/* ---------------------------------------------------------- */

.lw-content {
    color: var(--color-text-primary);
}

.lw-content p,
    .lw-content h1,
    .lw-content h2,
    .lw-content h3,
    .lw-content h4,
    .lw-content h5,
    .lw-content h6,
    .lw-content ul {
        margin: var(--content-padding) 0;
    }

.lw-content img {
    width: 100%;
    height: auto;
    margin-bottom: var(--content-padding);
}

.lw-content a {
    color: var(--color-text-link);
}

.lw-content a:hover {
    color: var(--color-text-link-hover);
}

.lw-content pre {
    border-radius: var(--card-radius);
    background-color: var(--color-background-code);
    padding: var(--content-padding);
}

@media(max-width: 768px) {
    .lw-content p,
    .lw-content h1,
    .lw-content h2,
    .lw-content h3,
    .lw-content h4,
    .lw-content h5,
    .lw-content h6 {
        margin: var(--content-padding);
    }

    .lw-content ul {
        margin: var(--content-padding);
    }

    .lw-content li {
        margin-left: var(--content-padding);
    }

    .lw-content pre {
        border-radius: 0;
    }
}

/* Bookmark Card
/* ---------------------------------------------------------- */

.kg-bookmark-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: var(--color-text-primary);
    border: 1pt var(--color-border-card) solid;
    border-radius: var(--card-radius);
    overflow: hidden;
    margin-bottom: var(--content-padding);
}

.kg-bookmark-container:hover {
    background-color: var(--color-background-card-hover);
    border-color: var(--color-text-link-hover);
}

.kg-bookmark-container img {
    margin-bottom: 0;
}

.kg-bookmark-content {
    flex: 2;
    align-self: center;
    padding: var(--content-padding);
}

.kg-bookmark-thumbnail {
    flex: 1;
}

.kg-bookmark-thumbnail img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.kg-bookmark-title {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}

.kg-bookmark-description {
    color: var(--color-text-secondary);
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.kg-bookmark-publisher {
    color: var(--color-text-secondary);
}

.kg-bookmark-publisher:hover {
    color: var(--color-text-primary);
}

img.kg-bookmark-icon {
    width: 32px;
    height: 32px;
    margin: 0 1rem 0 0;
}

@media(max-width: 768px) {
    .kg-bookmark-card {
        padding: 0 var(--content-padding);
    }

    .kg-bookmark-container {
        flex-direction: column-reverse;
    }

    .kg-bookmark-content {
        flex: none;
        padding: var(--content-padding);
    }

    img.kg-bookmark-icon {
        width: 16px;
        height: 16px;
        margin: 0 1rem 0 0;
    }

    .kg-bookmark-title, .kg-bookmark-description {
        margin-bottom: 0.5rem;
    }

    .kg-bookmark-thumbnail {
        overflow: hidden;
        max-height: 150px;
        width: 100%;
        align-items: center;
    }

    .kg-bookmark-thumbnail img {
        max-height: 150px;
    }
}

/* Post Footer
/* ---------------------------------------------------------- */
