/* Error - 404
/* ---------------------------------------------------------- */

.lw-error-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
}

.lw-error-content .lw-error-code {
    color: var(--color-text-primary);
}

.lw-error-content .lw-error-description {
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}

.lw-error-content .lw-error-link a {
    color: var(--color-text-link);
}

.lw-error-content .lw-error-link a:hover {
    color: var(--color-text-link-hover);
}

/* Error - Generic
/* ---------------------------------------------------------- */

.error-template {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lw-error {
    display: flex;
    flex-direction: column;
    margin: 8rem 2rem;
}

.lw-error .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--color-text-primary);
}

.lw-error .lw-error-code {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--color-text-primary);
}

.lw-error .lw-error-description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--color-text-secondary);
}

.lw-error .lw-error-link a {
    font-size: 1.5rem;
    color: var(--color-text-link);
}

.lw-error .lw-error-link a:hover {
    color: var(--color-text-link-hover);
}
