/* Header
/* ---------------------------------------------------------- */

.lw-head {
    display: flex;
    padding-bottom: 4rem;
    z-index: 99999;
    background-color: var(--color-background);
}

.lw-head-left {
    flex: var(--content-left-flex);
}

.lw-head-right {
    flex: var(--content-right-flex);
}

.lw-head-container {
    flex: var(--content-main-flex);
}

.lw-head-container {
    max-width: var(--content-width);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 8rem 0 2rem 0;
}

.lw-head-brand a, .lw-head-brand a:hover, .lw-head-brand a:visited {
    color: var(--color-text-primary);
    text-decoration: none;
}

.lw-head-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.lw-head-description {
    font-size: 1.75rem;
    color: var(--color-text-secondary);
}

.lw-head-title, .lw-head-description {
    font-family: var(--font-header);
    font-weight: var(--font-normal);
}

/* Navigation
/* ---------------------------------------------------------- */

.lw-head-nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 4rem;
}

.lw-head-nav .nav {
    display: flex;
}

.lw-head-nav .nav li {
    margin: 0 2rem 0 0;
    padding: 1rem 0;
}

.lw-head-nav .nav a {
    padding: 5px 0;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 1.5rem;
}

.lw-head-nav .nav-current a, .lw-head-nav .nav a:hover {
    color: var(--color-text-primary);
    border-bottom: 1pt solid var(--color-text-primary);
}

/* Social navigation
/* ---------------------------------------------------------- */

.lw-head-social {
    display: flex;
}

.lw-head-social a {
    fill: var(--color-text-secondary);
    box-sizing: unset;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}

.lw-head-social a:hover {
    fill: var(--color-text-primary);
}

/* Header Mobile
/* ---------------------------------------------------------- */

@media(max-width: 768px) {
    .lw-head {
        padding-bottom: 0;
    }
    .lw-head-left, .lw-head-right {
        display: none;
    }
    .lw-head-container {
        max-width: none;
        margin: 2rem 2rem 2rem 2rem;
    }
    .lw-head-nav-container {
        margin-top: 1rem;
    }
    .lw-head-title {
        font-size: 2rem;
    }
    .lw-head-description {
        font-size: 1.5rem;
    }
    .lw-head-social {
        display: none;
    }
}


/* Banner
/* ---------------------------------------------------------- */

.lw-banner {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1pt solid var(--color-separator);
    background-color: var(--color-background);
}

.lw-banner-container {
    display: flex;
    align-items: center;
}

.lw-banner-brand a, .lw-banner-brand a:hover, .lw-banner-brand a:visited {
    color: var(--color-text-primary);
    text-decoration: none;
}

.lw-banner-title {
    font-family: var(--font-header);
    font-size: 2rem;
    font-weight: lighter;
    padding: 2rem;
}

.lw-banner-separator {
    height: 2rem;
    width: 1pt;
    margin-right: 2rem;
    background-color: var(--color-text-primary);
}

/* Banner Navigation
/* ---------------------------------------------------------- */

.lw-banner-nav-container {
    display: flex;
    align-items: center;
}

.lw-banner-nav .nav {
    display: flex;
}

.lw-banner-nav .nav li {
    margin: 0 2rem 0 0;
    padding: 0;
}

.lw-banner-nav .nav a {
    padding: 5px 0;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 1.5rem;
}

.lw-banner-nav .nav-current a, .lw-banner-nav .nav a:hover {
    color: var(--color-text-primary);
}

/* Banner Social
/* ---------------------------------------------------------- */

.lw-banner-social {
    display: flex;
    margin-left: -1rem;
}

.lw-banner-social a {
    fill: var(--color-text-secondary);
    box-sizing: unset;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}

.lw-banner-social a:hover {
    fill: var(--color-text-primary);
}

/* Banner Mobile
/* ---------------------------------------------------------- */

@media(max-width: 768px) {
    .lw-banner {
        justify-content: flex-start;
    }
    .lw-banner-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    }
    .lw-banner-title {
        font-size: 1.75rem;
        padding: 0 1rem 0 0;
    }
    .lw-banner-nav {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
    }
    .lw-banner-nav .nav a {
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        font-size: 1.25rem;
    }
    .lw-banner-nav .nav li {
        margin-right: 1rem;
    }
    .lw-banner-nav-container-social, .lw-banner-separator {
        display: none;
    }
}
