/* Profile
/* ---------------------------------------------------------- */

.lw-profile {
    --profile-image-size: 128px;
    --profile-image-half: 64px;

    max-width: 30rem;
    color: var(--color-text-primary);
    padding: 0 4rem 2rem 2rem;
}

.lw-profile .lw-profile-author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lw-profile .profile-image {
    max-width: var(--profile-image-size);
    width: 100%;
    height: auto;
    border-radius: var(--profile-image-half);
    align-self: center;
}

.lw-profile .lw-profile-author > * {
    margin-bottom: 2rem;
}

.lw-profile .profile-name {
    font-weight: bold;
}

.lw-profile p {
    font-size: 1.5rem;
    text-align: justify;
}

.lw-profile ul.profile-links {
    list-style-type: none;
}

.lw-profile .profile-links li {
    margin-bottom: 1rem;
}

.lw-profile .profile-links li a {
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    text-decoration: none;
}

.lw-profile .profile-links li a .icon {
    opacity: var(--opacity-secondary);
}

.lw-profile .profile-links li a:hover {
    color: var(--color-text-primary);
}

.lw-profile .profile-links li a:hover .icon {
    opacity: var(--opacity-primary);
}

.lw-profile .profile-links li .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

@media(max-width: 950px) {
    .lw-profile {
        display: none;
    }
}
